<h2>Pagina Contato</h2>
<p>
    <% imprime = 1 %>
    <% texto = "isto é um teste em /site/contato"; %>
    <% if (imprime == 1) {%>
       <%= texto %>
    <% } else { %>
        <%= ' nao imprime nada ' %> 
    <% } %>

</p>